<% if @item.errors.any? %>
	<ul>
		<% @item.errors.full_messages.each do |error| %>
			<li><%= error %></li>
			<% end %>
	</ul>
<% end %>

<%= form_for [@list, @item] do |f| %>
	<%= f.label  :name %>
	<%= f.text_field :name %>
<br />
	<%= f.label :description %>
	<%= f.text_field :description %>
<br />
	<%= f.label :completed %>
	<%= f.text_field :completed %>
<br />
	<%= f.submit %>
<% end %>
<br />